#content
  .movie_content
    .span3
      .movie-show.well
        .movie-img
          = link_to image_tag(@movie.poster_url), "#"
        .movie-title
          %h3= @movie.name
          %h3= @movie.name_en
        .movie-buttons
          = button_to "評論","#", :class => "btn btn-success"
          = button_to "時刻表","#", :class => "btn btn-info"
          = button_to "訂票","#", :class => "btn btn-info"
    .span9
      .movie-reviews
        .well
          好評
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr
          %hr

     


