.span12.user-profile
  = link_to image_tag(user_avatar(@user.fb_id)), user_path(@user)
  = @user.name
  
  電影打卡
  = @user.records.size
  跟隨中
  = @user.friends.size
  跟隨者
  = @user.friends.size

  %br
  %br
  .movie-collection
    .well
      電影收藏
      .movie-container
        =render :partial => "_partials/records_container", :locals => {:records => @records}


