%a.btn{"data-toggle" => "modal", :href => "#myModal"} Launch Modal
#myModal.modal
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Modal header
  .modal-body
    %p One fine body…
  .modal-footer
    %a.btn.btn-primary{:href => "#"} Save changes
    %a.btn{:href => "#"} Close
.span3
  = image_tag @record.movie.poster_url
  %br
  = @record.movie.name
  %br
  = link_to "Youtube", "http://www.youtube.com/watch?v=" + @record.movie.youtube_video_id if @record.movie.youtube_video_id != nil
  = button_to "預告片","#", :class => "btn btn-danger"
  = button_to "所有評論","#", :class => "btn btn-danger"
.span9
  = link_to image_tag(user_avatar(@record.user.fb_id)), user_path(@record.user)
  = @record.user.name
  %hr
  評論：
  = @record.comment
  = fb_comments("http://example.com")